/Disquera_AllMusic/.vs
/Disquera_AllMusic/AllMusic_DLL/obj
/Disquera_AllMusic/AllMusic_DLL/bin
/Disquera_AllMusic/AllMusic_DLL/*.user
/Disquera_AllMusic/Disquera_AllMusic/obj
/Disquera_AllMusic/Disquera_AllMusic/bin
/Disquera_AllMusic/Disquera_AllMusic/*.user
/Disquera_AllMusic/DisqueraAdmin/obj
/Disquera_AllMusic/DisqueraAdmin/bin
/Disquera_AllMusic/DisqueraAdmin/*.user
/Disquera_AllMusic/DisqueraVentas/obj
/Disquera_AllMusic/DisqueraVentas/bin
/Disquera_AllMusic/DisqueraVentas/*.user
